Repository caffeine-addictt/video-manager, pull requests merged in 2024-04, with the labels that each got.

#2 Feature: Setting up the CLI
  .gitignore
  Makefile
  go.mod
  go.sum
  main.go
  src/logging.go
  src/root.go
  src/utils/strings.go
  src/version.go
Labels: Type: Feature

#6 Update and fix testing security vulnerability
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/test-worker.yml
  Makefile
  go.mod
  go.sum
Labels: Type: CI, Type: Security

#8 Improve generated release notes
  .goreleaser.yml
Labels: Type: CI

#9 Documentation setup
  README.md
  docs/en/commands.md
  docs/en/configuration.md
  docs/en/getting-started.md
  docs/en/index.md
  docs/en/installing.md
  docs/index.md
Labels: Documentation

#10 Add Golang report badge to README
  README.md
Labels: Documentation

#12 Get command
  docs/en/commands.md
  docs/en/commands/get.md
  docs/en/commands/index.md
  docs/en/commands/version.md
  docs/en/index.md
  go.mod
  go.sum
  src/get.go
  src/root.go
  src/utils/file.go
Labels: Type: Feature, Documentation

#14 List command
  docs/en/commands/get.md
  docs/en/commands/index.md
  docs/en/commands/list.md
  src/list.go
  src/utils/file.go
Labels: Type: Feature, Documentation

#16 Documentation for installing
  README.md
  docs/en/installing.md
Labels: Documentation

#17 Getting started documentation
  docs/en/getting-started.md
Labels: Documentation

#18 Add configuration documentation
  docs/en/configuration.md
Labels: Documentation

#20 Add query flag to list command
  docs/en/commands/list.md
  src/list.go
Labels: Type: Feature, Documentation

#24 Do not enforce int64 on maxConcurrency option
  CITATION.cff
  src/get.go
  src/version.go
Labels: Type: Enhancement

#27 Remove automatic syncing
  .github/settings.yml
  .github/workflows/sync-template.yml
  .templatesyncignore
Labels: Type: CI

#25 Distributing with homebrew
  .goreleaser.yml
  README.md
  docs/en/installing.md
Labels: Type: CI, Documentation

#28 Add delete command
  docs/en/commands/delete.md
  docs/en/commands/index.md
  src/delete.go
  src/list.go
  src/utils/strings.go
Labels: Type: Feature, Documentation

#30 Update build
  .goreleaser.yml
Labels: Type: CI

#31 chore(build-fix): Remove folder (hopefuly will stop build from failing?)
  .goreleaser.yml
Labels: Type: CI

#33 Chore/build hotfix
  .github/workflows/release.yml
  .goreleaser.yml
Labels: Type: CI

#34 chore(build): Fix env variable
  .goreleaser.yml
Labels: Type: CI

#35 chore(build): Configure base
  .goreleaser.yml
Labels: Type: CI

#36 Update release build configuration for homebrew
  .goreleaser.yml
Labels: Type: CI

#38 Caching and general improvements
  docs/en/commands/cache.md
  docs/en/commands/delete.md
  docs/en/commands/get.md
  docs/en/commands/index.md
  docs/en/configuration.md
  src/cache.go
  src/delete.go
  src/get.go
  src/list.go
  src/root.go
  src/utils/file.go
  src/utils/numbers.go
  src/utils/strings.go
Labels: Type: Enhancement, Type: Feature, Documentation

#39 chore(build): Push to branch instead of PR to main
  .goreleaser.yml
Labels: Type: CI

#41 Localize the documentation (German / Ukrainian)
  docs/de/commands/cache.md
  docs/de/commands/delete.md
  docs/de/commands/get.md
  docs/de/commands/index.md
  docs/de/commands/list.md
  docs/de/commands/version.md
  docs/de/configuration.md
  docs/de/getting-started.md
  docs/de/index.md
  docs/de/installing.md
  docs/index.md
  docs/uk/commands/cache.md
  docs/uk/commands/delete.md
  docs/uk/commands/get.md
  docs/uk/commands/index.md
  docs/uk/commands/list.md
  docs/uk/commands/version.md
  docs/uk/configuration.md
  docs/uk/getting-started.md
  docs/uk/index.md
  docs/uk/installing.md
Labels: Documentation

#43 Prefering extensions
  docs/de/configuration.md
  docs/en/configuration.md
  docs/uk/configuration.md
  src/get.go
  src/root.go
Labels: Type: Feature, Documentation

#44 Configuration command
  CITATION.cff
  docs/en/commands/config.md
  docs/en/commands/index.md
  src/cache.go
  src/config.go
  src/root.go
  src/version.go
Labels: Type: Feature, Documentation

#45 spanish translations
  docs/es/commands/cache.md
  docs/es/commands/config.md
  docs/es/commands/delete.md
  docs/es/commands/get.md
  docs/es/commands/index.md
  docs/es/commands/list.md
  docs/es/commands/version.md
  docs/es/configuration.md
  docs/es/getting-started.md
  docs/es/index.md
  docs/es/installing.md
  docs/index.md
Labels: Documentation

#47 Remove greeting ci
  .github/workflows/first-time-contributor.yml
Labels: Type: CI
